/* [SLIDER] */
#slider,  #slider .slide{
  width: 500px;
  height: 250px;
}
#slider {
  overflow: hidden;
  margin: 0 auto;
  font-size: 1.2em;
  background: #ffd7d1;
}
#slider .container {
  position: relative;
  bottom: 0;
  right: 0;
  animation: slide-animation 20s infinite;
}
#slider .slide {
  position: relative;
  box-sizing: border-box;
  padding: 10px 20px;
}

/* [ANIMATION] */
@keyframes slide-animation {
  0% { 
    opacity: 0;
    bottom: 0;
  }
  11% {
    opacity: 1;
    bottom: 0; 
  }
  22% { bottom: 100%; }
  33% { bottom: 100%; }
  44% { bottom: 200%; }
  55% { bottom: 200%; }
  66% { bottom: 300%; }
  77% { bottom: 300%; }
  88% {
    opacity: 1;
    bottom: 400%; 
  }
  100% {
    opacity: 0;
    bottom: 400%;
  }
}

/* [DOES NOT MATTER] */
html, body {
  font-family: arial;
  background: #ffe9d8;
}
h1 {
  text-align: center;
}